<template>
    <div class="cesiumContainer">
        <cesium-viewer @ready="ready"> </cesium-viewer>
  </div>
</template>

<script>

import vue from 'vue';
import vueCesium from 'vue-cesium';
import CesiumViewer from 'vue-cesium/src/components/viewer/CesiumViewer.vue'

vue.use(vueCesium,
{ 
    cesiumPath: 'https://unpkg.com/cesium/Build/Cesium/Cesium.js',
    accessToken: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwNmI3ZDQ1NC00M2EwLTRkOTEtOGNiNC0yZGI0MDIxMGRjNTIiLCJpZCI6MTc1MjgsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NzIzNDEyMzh9.AWXO7uy56szbtAx7d0OQVIgwDAH-CaZ7h1pzQ-1OAxc'
});

export default {
    name: 'Map3d',
    components:{
        CesiumViewer
    },
    methods: {
        ready(cesiumInstance) {
            this.cesiumInstance = cesiumInstance;

            const {Cesium} = cesiumInstance;

            console.log(this.cesiumInstance.Cesium);
            
            var viewer = new Cesium.Viewer('cesiumContainer', {
                animation: false,
                baseLayerPicker: false,
                navigationHelpButton: false,
                sceneModePicker: false,
                homeButton: false,
                geocoder: false,
                fullscreenButton: false,
                terrainExaggeration: 2.0,
                imageryProvider: new Cesium.UrlTemplateImageryProvider({
                    url: 'https://api.maptiler.com/tiles/satellite/{z}/{x}/{y}.jpg?key=qAdBpwMDeo78LUdKNYpz',
                    minimumLevel: 0,
                    maximumLevel: 20,
                    credit: new Cesium.Credit('<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>', true)
                }),
                timeline: false,
                terrainProvider: new Cesium.CesiumTerrainProvider({
                    url: 'https://api.maptiler.com/tiles/terrain-quantized-mesh/?key=qAdBpwMDeo78LUdKNYpz',
                    credit: new Cesium.Credit('<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>', true),
                    requestVertexNormals: true
                })
            });

            viewer.camera.setView({
                destination: Cesium.Cartesian3.fromDegrees(9.17, 48.78, 4300),
                orientation: {
                    pitch: Cesium.Math.toRadians(-20)
                }
            });

           
            
        }
    }
}
</script>

<style scoped>
    .cesiumContainer {
        width: 100%;
        height: 400px;
    }
</style>
