<template>
  <div id="app">
    <Map3d />
  </div>
</template>

<script>

import Map3d from './components/Map3d'

export default {
  name: 'app',
  components: {
    Map3d
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
